# Dependencies
node_modules
package-lock.json

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json